= turbo_frame_tag post do
  .border-bottom.mb-2
    .mx-4.mb-2
      %p.fs-6.fw-lighter
        %div
          = link_to post.user.name, profile_path(post.user.name), data: { turbo: false }
        - if user_signed_in? && !current_user.posted?(post)
          = render "followees/form", user: post.user
      %p.fs-5.fw-light
        - if post.thumbnail.attached?
          = image_tag post.thumbnail.variant(:thumb)
        - else
          = image_tag "/no-image.png"
        = post.body
        .fs-6
          = post.likes.size
          いいね
        .fs-6
          = post.likes.map(&:user_name).join(',')
        - if user_signed_in? && !current_user.posted?(post)
          = render "likes/form", post:
      %p.fs-6.fw-lighter
        = post.posted_at.strftime("%Y/%m/%d %H:%M:%S")
      - if user_signed_in?
        = render "comments/form", post:
      - post.comments.each do |comment|
        %p
          = comment.body
          = comment.user_name
