= turbo_frame_tag post do
  .border-bottom.mb-2
    .mx-4
      %p.fs-6.fw-lighter
        %div
          = link_to post.user.name, profile_path(post.user.name), data: { turbo: false }
        - if user_signed_in? && !current_user.posted?(post)
          = render "followees/form", user: post.user
      %p.fs-5.fw-light
        = post.body
        .fs-6
          = post.likes.size
          いいね
        - if user_signed_in? && !current_user.posted?(post)
          = render "likes/form", post:
      %p.fs-6.fw-lighter
        = post.posted_at.strftime("%Y/%m/%d %H:%M:%S")
